/* 일반 태그 설정 */
body {
  color:white;
}

p {
  font-family: sans-serif, '굴림';
  font-weight: lighter;
  font-size: 12px;
}

/* 범용 태그 구현 */
.row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  justify-content: center; align-items: center;
  text-align: center
}

.space-between {
  justify-content: space-between; align-items: center;
}

.col-spacer{
  height: 12px;
}

.row-spacer{
  width: 12px;
}

.dash {
  border-color: greenyellow;
  width: 2%
}

/* 헤더 설정 */
.header-style {
  padding: 8% 20%;
  background-color:gray;
  justify-content: center;
}

.header-inner-style {
  width: fit-content;
  margin: 0 12px;
}

/* 바디 설정 */
#body-style {
  padding: 5% 20%;
  background-color:black;
  color:white;
}

.body-inner-style {
}

/* 바디 디자인 */
.capsule-design {
  width: fit-content;
  padding: 12px;
  display: flex;
  border: 1px dotted white;
  border-radius: 100px;
}

.image-frame {
  width: 80%;
  display: flex;
  flex-direction: row; /* 행렬 방향 */
  /*justify-content: space-between; !* 중앙 정렬(너비) *!*/
  align-items: center; /* 중앙 정렬(높이) */
  background-color: burlywood;
  border-radius: 12px;
}

.image-swap-button {
  width: fit-content;
  height: 90%;
  padding: 0 4%;
  justify-content: end;
  align-items: end;
}

.program-frame {
  width: 240px;
  height: 280px;
  border-radius: 2%;
  background-color: #191919;
}

.profile-frame {
  width: 168px;
  height: 252px;
  border-radius: 2%;
  background-color: #191919;
}

.review-frame {
  width: 228px;
  height: 158px;
  border-radius: 2%;
  background-color: #191919;
}

.helper-frame {
  width: 136px;
  height: 140px;
  border-radius: 2%;
  background-color: #191919;
}

/* 푸터 설정 */
.footer-frame {
  padding: 8% 20%;
  background-color: black;
  color: white;
}


/* 컴포넌트 설정 */
.button-green {
  min-width: 92px;
  min-height: 32px;
  background-color: greenyellow;
  border: 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.button-black {
  width: 92px;
  height: 32px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.outline-circle-green {
  width: 100px;
  height: 100px;
  display: flex; flex-direction: column; justify-content: center;

  background-color: transparent;
  border: 1px solid greenyellow;
  border-radius: 100%;

  text-align: center;
  font-size: 12px;
}

.outline-circle-white {
  width: 100px;
  height: 100px;
  display: flex; flex-direction: column; justify-content: center;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;

  text-align: center;
  font-size: 12px;
}

.filled-circle-white {
  width: 20px;
  height: 20px;

  background-color: white;
  border-radius: 100%;

  text-align: center;
  font-size: 12px;
}
