/* 아티클 설정 */
.article-style {
  padding: 5% 20%;
  background-color: black;
  color: white;
}

/* 바디 디자인 */
.thumbnail-frame {
  min-height: 20.5rem;
  background-color: #191919;
  border-radius: 0.75rem;
  padding: 0 1.25rem 1.25rem 5rem;
}

.program-frame {
  width: 15rem;
  height: 16rem;
  border-radius: 3%;
  background-color: #191919;
  padding: 2%;
}

.profile-frame {
  width: 11.5rem;
  height: 14.25rem;
  padding: 2%;
  border-radius: 5%;
  background-color: #191919;
}

.review-frame {
  width: 14.75rem;
  height: 8.75rem;
  border-radius: 3%;
  background-color: #191919;
  padding: 1%;
}

.helper-frame {
  width: 8.4rem;
  height: 9rem;
  border-radius: 4%;
  background-color: #191919;
}

/* 푸터 설정 */
.footer-style {
  background-color: black;
  color: white;
  padding: 8% 20%;
}

/* 컴포넌트 설정 */
.button-green {
  width: 6.0rem;         /* 92px → 5.75rem */
  height: 1.90rem;           /* 32px → 2rem */
  background-color: greenyellow;
  border: 0;
  border-radius: 0.3125rem; /* 5px → 0.3125rem */
  text-align: center;
  font-weight: bold;
}

.button-black {
  width: 5.75rem;
  height: 2rem;
  background-color: transparent;
  border: 0.0625rem solid black; /* 1px → 0.0625rem */
  border-radius: 0.3125rem;
  text-align: center;
  font-weight: bold;
}

/* 신청하기 버튼 */
.apply-button {
  min-width: 6.75rem;
  min-height: 2rem;
  background-color: greenyellow;
  border: 0;
  border-radius: 0.3125rem;
  text-align: center;
  font-weight: bold;
}
