/* EO 피어러닝 프로그램은... 의 아이콘 */
.capsule-design {
  padding: 0 1rem;
  display: flex;
  border: 0.0625rem dotted white;
  border-radius: 6.25rem;
  gap: 0.75rem;
}

/* 원 (greenyellow/outlined) */
.outlined-circle-greenyellow {
  width: 5.25rem;
  height: 5.25rem;

  color: greenyellow;
  background-color: transparent;
  border: 0.0625rem solid greenyellow;
  border-radius: 100%;

  font-size: 0.75rem;
}

/* 원 (white/outlined) */
.outlined-circle-white {
  width: 5.25rem;
  height: 5.25rem;

  color: white;
  background-color: transparent;
  border: 0.0625rem solid white;
  border-radius: 100%;

  text-align: center;
}

/* 백색 채워진 원 */
.filled-circle-white {
  width: 1.5rem;
  height: 1.5rem;

  background-color: white;
  border-radius: 100%;

  text-align: center;
}

/* 모집 중 */
.recruiting-design {
  color: black;
  background-color: greenyellow;
  border-radius: 6.25rem;
  padding: 0.2rem 0.5rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
}

.leader-profile {
  width: 3.25rem;
  height: 3.25rem;
  background-color: #888888;
  border-radius: 100%;
}

.user-profile {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #888888;
  border-radius: 100%;
}

.helper-profile {
  width: 4rem;
  height: 4rem;
  background-color: #888888;
  border-radius: 100%;
}

.contents-image {
  width: 10rem;
  height: 10rem;
  background-color: #888888;
}

.summarize-design {
  color: grey;
  background-color: transparent;
  border-radius: 6.25rem;
  border: 0.0625rem solid grey;
  padding: 0.2rem 0.5rem;
}
