* {
  font-family: sans-serif, '굴림';
}

.font-lighter { font-weight: lighter; }
.font-normal { font-weight: normal; }
.font-bold { font-weight: bold; }

.font-0_5rem { font-size: 0.5rem; }
.font-0_6rem { font-size: 0.6rem; }
.font-0_7rem { font-size: 0.7rem; }
.font-0_9rem { font-size: 0.9rem; }
.font-1_0rem { font-size: 1.0rem; }
.font-1_1rem { font-size: 1.1rem; }
.font-1_2rem { font-size: 1.2rem; }
.font-1_3rem { font-size: 1.3rem; }
.font-1_4rem { font-size: 1.4rem; }
.font-1_8rem { font-size: 1.8rem; }
.font-1_9rem { font-size: 1.9rem; }
.font-2_0rem { font-size: 2.0rem; }
.font-2_2rem { font-size: 2.2rem; }
